﻿@model IEnumerable<Officecore.Dev.Models.SimpleItem>


<ul class="breadcrumb">
@foreach (var item in Model)
{
    if (item.TemplateName.ToLower() != "folder")
    {
        if (Model.IsLast(item))
        {
            <li class="active">
                @(item.MenuTitleField == "name" ? @Html.Sitecore().Field("__name") : @Html.Sitecore().Field(item.MenuTitleField, item))
            </li>
        }
        else
        {
            <li>
                <a href="@item.Url">@(item.MenuTitleField == "name" ? @Html.Sitecore().Field("__name") : @Html.Sitecore().Field(item.MenuTitleField, item))</a>
            </li>
        }

    }
}
</ul>
