﻿@model Officecore.Dev.Models.MenuItemList

@foreach (var menuItem in Model.menuItems)
{
    <li class="@(menuItem.IsActive || menuItem.IsActiveADescendant? " active": "")">
        <a href="@menuItem.Url"><span>@menuItem.MenuTitle</span></a>

        @if (menuItem["dropdown"] == "1")
        {
            <ul class="dropdown-menu">
                <li>
                    <div class="header-navigation-content">
                        <div class="row">
                            @foreach (var subItem in menuItem.Children)
                            {
                                if (subItem["Show Item In Menu"] == "1")
                                {
                                    <div class="col-md-4 header-navigation-col">
                                        <h4><a href="@subItem.Url" style="color: #3e4d5c;!important">@subItem.MenuTitle</a></h4>
                                        <ul>
                                            @foreach (var childItem in subItem.Children)
                                            {
                                                <li><a href="@childItem.Url">@childItem.MenuTitle</a></li>
                                            }
                                        </ul>
                                    </div>
                                }
                            }
                        </div>
                    </div>
                </li>
            </ul>
        }

    </li>
}

    <li class="menu-search">
        <span class="sep"></span>
        <i class="fa fa-search search-btn"></i>
        <div class="search-box">
            <form action="/search" method="post" id="searchform">
                <div class="input-group">
                    <input type="text" name="SearchStr" placeholder="Search" class="form-control"  ID="SearchBox"  />
                    <span class="input-group-btn">
                        <button class="btn btn-primary" type="submit">Search</button>
                    </span>
                </div>
            </form>
        </div>
    </li>


