﻿@model Officecore.Dev.Models.MenuItem

<div class="sidebar">
    <ul class="list-group margin-bottom-25 sidebar-menu">

        @foreach (var item in Model.ChildrenInSecondaryMenu)
        {
            <li class="list-group-item clearfix @(item.IsActive ? "active" : "")">
                <a href="@item.Url">
                    <i class="fa fa-angle-right"></i>
                    @Html.Sitecore().Field("Menu Title", item)
                </a>
            </li>
        }
    </ul>
</div>