﻿@model Officecore.Dev.Models.Chart

<script type="text/javascript">
		AmCharts.makeChart("chartdiv99",
			{
                @if(Model.ChartType.ToLower()=="pie")
                { 
                  <text>
						"type": "pie",
						"path": "https://www.amcharts.com/lib/3/",


						"sequencedAnimation": false,
						"startDuration": 0,
						"titleField": "category",
						"valueField": "column-1",
						"marginBottom": 0,
						"marginTop": 0,
						"fontSize": 10,
						"theme": "light",
						"legend": {
						   "markerType": "circle",
						   "position": "right",
						   "marginRight": 80,
						   "autoMargins": false
						},
						"allLabels": [],
						"balloon": {},
						"titles": [
							{
								"id": "Title-1",
								"text": "@Model.Title"
							}
						],
			            "dataProvider": [
                                    @foreach(var dataitem in Model.Data)
                                    { 
							            <text>
                                            {
									        "category": "@dataitem.Field",
									        "column-1": @dataitem.Value
									        },
                                        </text>
                                    }
			                        ]
                            </text>
					        }
                            else
                            {
					        <text>
						"path": "https://www.amcharts.com/lib/3/",
						"type": "serial",
						"theme": "light",
						"titles": [
                            {
								"id": "Title-1",
								"text": "@Model.Title"
                            }
                            ],
						"dataProvider": [


                                    @foreach(var dataitem in Model.Data)
    { 
							            <text>
    {
									        "country": "@dataitem.Field",
									        "visits": @dataitem.Value
							},
                                        </text>
							}

                            ],
						"valueAxes": [ {
						"gridColor": "#FFFFFF",
						"gridAlpha": 0.2,
						"dashLength": 0
                            } ],
						"gridAboveGraphs": true,
						"startDuration": 1,
						"graphs": [ {
						"balloonText": "[[category]]: <b>[[value]]</b>",
						"fillAlphas": 0.8,
						"lineAlpha": 0.2,
						"type": "column",
						"valueField": "visits"
                            } ],
						"categoryField": "country",
						"categoryAxis": {
						"gridPosition": "start",
						"gridAlpha": 0,
						"tickPosition": "start",
						"tickLength": 20
                            }
                                </text>
                }
                            }
		);
</script>

<div id="chartdiv99" style="width: @Model.Width; height: @Model.Height; background-color: @Model.Background;"></div>

