﻿@model Officecore.Dev.Models.Tabs

@if (Model.HasTabs)
{

    <!-- BEGIN TABS AND TESTIMONIALS -->
    <div class="row margin-bottom-40">
        <!-- TABS -->
        <div class="col-md-12 tab-style-2">
            <ul class="nav nav-tabs">
                @foreach (var tab in Model.ChildTabs)
                {
                  <li class="@(tab.TabItem.ID==Model.ChildTabs.First().TabItem.ID ? "active" : "")"><a href="#@tab.TabName" data-toggle="tab">@Html.Sitecore().Field("Title", tab.TabItem)</a></li>
                }
            </ul>
            <div class="tab-content">
                @foreach (var tab in Model.ChildTabs)
                {
                    <div class="tab-pane row fade in @(tab.TabItem.ID==Model.ChildTabs.First().TabItem.ID ? "active" : "")" id="@tab.TabName">
                       @if (string.IsNullOrEmpty(tab.Image))
                       {
                            <div class="col-md-12 col-sm-12">
                                @Html.Sitecore().Field("text", tab.TabItem)
                            </div>
                       }
                       else
                       {
                            <div class="col-md-3 col-sm-3">
                                @Html.Sitecore().Field("image", tab.TabItem, new {@w="200", @class="img-responsive" })
                            </div>
                            <div class="col-md-9 col-sm-9">
                                @Html.Sitecore().Field("text", tab.TabItem)
                            </div>
                       }    

                    </div>
                }




            </div>
        </div>
        <!-- END TABS -->

    </div>

}
else
{
    if(Sitecore.Context.PageMode.IsExperienceEditorEditing)
    {
        <div>Not Child Tabs Defined</div>
    }
}

