﻿@model RenderingModel

<div class="row margin-bottom-10">
    <div class="col-md-12">
        <div class="content-page">

            <video controls="controls" volume="0.2" style="width:100%;" @(Sitecore.Context.PageMode.IsNormal ? "autoplay=\"autoplay\"" : "")>
                <source src="@Sitecore.Resources.Media.MediaManager.GetMediaUrl(RenderingContext.Current.Rendering.Item)" type="video/mp4" />
                <div style="width:100%; height:300px; padding: 20px; text-align:center;background-color:#000;color:#fff;">Your browser does not support the <code>video</code> element.</div>
            </video>

        </div>
    </div>
</div>


