﻿@model Sitecore.Mvc.Presentation.RenderingModel

<div class="content-page">
    <h1>@Html.Sitecore().Field("title")</h1>
    <!-- BEGIN CAROUSEL -->
    <div class="front-carousel margin-bottom-20">

        <div id="myCarousel" class="carousel slide">
            <!-- Carousel items -->
            <div class="carousel-inner">
                <div class="item active">
                    @Html.Sitecore().Field("teaser image",  new { @maxWidth = "700" })
                </div>
            </div>

        </div>
    </div>
    <!-- END CAROUSEL -->
    <!-- BEGIN INFO BLOCK -->
    <h4>@Html.Sitecore().RenderDate("date", Model.Item, "MMMM dd, yyyy")</h4>
    @if (Sitecore.Context.PageMode.IsExperienceEditorEditing)
    {
        <br />
        <div style="border: 1px solid #f00; padding: 5px;">
            <strong>Summary:</strong><br />
            <sc:text field="summary" />
        </div>
        <br />
        <strong>Main text:</strong><br />
    }

    @Html.Sitecore().Field("text")

    
</div>
