﻿
@model Sitecore.Mvc.Presentation.RenderingModel
<div class="row margin-bottom-10">

    <!-- BEGIN PORTFOLIO DESCRIPTION -->
    <div class="col-md-12">
        @Html.Sitecore().Field("text")
        <br />

    </div>
    <!-- END PORTFOLIO DESCRIPTION -->
</div>