﻿@model Sitecore.Mvc.Presentation.RenderingModel
<div class="row margin-bottom-30">

    <!-- BEGIN PORTFOLIO DESCRIPTION -->
    <div class="col-md-12">
        @Html.Sitecore().Field("product details")
    </div>
    <!-- END PORTFOLIO DESCRIPTION -->
</div>
