﻿@model Sitecore.Mvc.Presentation.RenderingModel

<div class="row margin-bottom-10">
    <!-- <div class="row margin-bottom-30"> -->
    <!-- BEGIN CAROUSEL -->
    <div class="col-md-5 front-carousel">
        <div class="carousel slide" id="myCarousel">
            <!-- Carousel items -->
            <div class="carousel-inner">
                <div class="item active">
                    @Html.Sitecore().Field("image", new { @maxWidth = "450", @width="450", @as="1" })
                </div>
            </div>
        </div>
    </div>
    <!-- END CAROUSEL -->
    <!-- BEGIN PORTFOLIO DESCRIPTION -->
    <div class="col-md-7">
        <h1>@Html.Sitecore().Field("title")</h1>
        @Html.Sitecore().Field("text")
        <br />

    </div>
    <!-- END PORTFOLIO DESCRIPTION -->
</div>
