﻿
@model Officecore.Dev.Models.DetachModel 

@using (Html.BeginForm())
{
    @Html.Sitecore().FormHandler(null, "DetachTwitterAccount")
    @Html.HiddenFor(m => m.Network)
    <p style="padding:0px"><input type="image" title="Detach Twitter Account" style="margin:0 1px" src="/~/media/images/social/connector/twitter.ashx" /> Detach Twitter Account</p>
}