﻿
@model Officecore.Dev.Models.DetachModel 

@using (Html.BeginForm())
{
    @Html.Sitecore().FormHandler(null, "DetachFacebookAccount")
    @Html.HiddenFor(m => m.Network)
    <p style="padding:0px"><input type="image" title="Detach Facebook Account" style="margin:0 1px" src="/~/media/images/social/connector/facebook.ashx" /> Detach Facebook Account</p>
}