﻿
@model Officecore.Dev.Models.DetachModel 

@using (Html.BeginForm())
{
    @Html.Sitecore().FormHandler(null, "DetachLinkedInAccount")
    @Html.HiddenFor(m => m.Network)
    <p style="padding:0px"><input type="image" title="Detach LinkedIn Account" style="margin:0 1px" src="/~/media/images/social/connector/linkedin.ashx" /> Detach LinkedIn Account</p>
}