﻿@model Officecore.Dev.Models.LoginModel
<link href="/sitecore%20modules/shell/Web%20Forms%20for%20Marketers/themes/Metronic.css?v=17072012" rel="stylesheet" type="text/css" />
<div class="securityform">

    <h1>@Html.Sitecore().Field("Title")</h1>

@using (Html.BeginForm())
{
    <input type="hidden" name="fhController" value="AccountController" />
    <input type="hidden" name="fhAction" value="Login" />

    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
    <div class="form-group">
        @Html.LabelFor(m => m.UserName, new { @class= "scfEmailLabel"})
        @Html.TextBoxFor(m => m.UserName, new { @class= "scfEmailTextBox" })
        @Html.ValidationMessageFor(m => m.UserName)
        <span class="scfRequired">*</span>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Password, new { @class = "scfPasswordLable" })
        @Html.PasswordFor(m => m.Password, new { @class = "scfPasswordTextBox" })
        @Html.ValidationMessageFor(m => m.Password )
        <span class="scfRequired">*</span>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.RememberMe, new { @class = "checkbox" })
    @Html.CheckBoxFor(m => m.RememberMe)  
    </div>
    <div class="form-group">
        <input type="submit" value="Log in" class="scfSubmitButton" /></div>
}
</div>