﻿@model Officecore.Dev.Models.ViewProfileModel

<div class="col-md-12">
    <div class="row">
        <div class="col-md-6">
            <div class="portlet box scbrandorange">
                <div class="portlet-title">
                    <div class="caption">
                        <i class="fa fa-save" style="color:#fff;"></i>Explicit Data
                    </div>
                </div>
                <div class="portlet-body">
                    <div class="row margin-bottom-10">
                        <div class="col-md-3">
                            Firstname:
                        </div>
                        <div class="col-md-9">
                            <strong>@Model.Firstname</strong>
                        </div>
                    </div>
                    <div class="row margin-bottom-10">
                        <div class="col-md-3">
                            Surname:
                        </div>
                        <div class="col-md-9">
                            <strong>@Model.Surname</strong>
                        </div>
                    </div>
                    <div class="row margin-bottom-10">
                        <div class="col-md-3">
                            Company:
                        </div>
                        <div class="col-md-9">
                            <strong>@Model.Company</strong>
                        </div>
                    </div>
                    <div class="row margin-bottom-10">
                        <div class="col-md-3">
                            Job title:
                        </div>
                        <div class="col-md-9">
                            <strong>@Model.Jobtitle</strong>
                        </div>
                    </div>
                    <div class="row margin-bottom-10">
                        <div class="col-md-3">
                            E-mail:
                        </div>
                        <div class="col-md-9">
                            <strong>@Model.Email</strong>
                        </div>
                    </div>
                    <div class="row margin-bottom-10">
                        <div class="col-md-3">
                            Phone:
                        </div>
                        <div class="col-md-9">
                            <strong>@Model.Phone</strong>
                        </div>
                    </div>
                    <div class="row margin-bottom-10">
                        <div class="col-md-3">
                            Address:
                        </div>
                        <div class="col-md-9">
                            <strong>@Model.Address1</strong><br />
                            <strong>@Model.Address2</strong><br />
                            <strong>@Model.Address3</strong><br />
                            <strong>@Model.City</strong><br />
                            <strong>@Model.Postcode</strong><br />
                            <strong>@Model.Country</strong><br />
                        </div>
                    </div>
                    <div class="row margin-bottom-10">
                        <div class="col-md-3">
                            Call-back received?
                        </div>
                        <div class="col-md-9">
                            <strong>@Model.CallBackRecieved</strong>
                        </div>
                    </div>
                    <div class="row margin-bottom-10">
                        <div class="col-md-3">
                            Call-back message
                        </div>
                        <div class="col-md-9">
                            <strong>@Model.CallBackMessage</strong>
                        </div>
                    </div>
                    <a href="?sc_trk=41FE026B-89B5-419F-8D21-365DC4B945E1" class="btn scbrandorange btn-block">Sync with CRM</a>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="portlet box scbrandpurple">
                <div class="portlet-title">
                    <div class="caption">
                        <i class="fa fa-bar-chart-o" style="color:#fff;"></i>xDB Data
                    </div>
                </div>
                <div class="portlet-body">

                    <i class="fa fa-trophy" style="margin-bottom: 10px; margin-right:2px;"></i> Goals
                    <dl>
                        @foreach (var goal in Model.VisitDetails.PageGoals())
                        {
                            <dd>
                                @goal.GoalName (@goal.Points) = @goal.DateT.ToString("dd MMM yy, HH:MM")
                            </dd>
                        }
                    </dl>
                    <hr />
                    <i class="fa fa-flag-checkered"></i> Campaigns
                    <dl>
                        <dd>
                            @Model.VisitDetails.Campaign
                        </dd>
                    </dl>

                    <hr />
                    <i class="fa fa-users" style="margin-bottom: 10px; margin-right:2px;"></i> Profiles

                    @foreach (var item in Model.VisitDetails.PatternMatches)
                    {
                    <div>
                        <div class="image-wrapper"><img src="@item.Image" alt="@item.PatternName" /></div>
                        <h5>@item.Profile : @item.PatternName</h5>
                    </div>
                    <div style="clear: both"></div>
                    }

                    @foreach (var profile in Model.VisitDetails.GetProfiles())
                    {
                        <h4>@profile.Profile</h4>
                        foreach(var keyvalue in profile.Keys)
                        {
                            @Html.Raw(keyvalue.Key + ": " + keyvalue.Value.ToString() + "<br />");
                        }
                    }

                    <hr />

                    <i class="fa fa-users" style="margin-bottom: 10px; margin-right:2px;"></i> Contact
                    <xsl:variable name="contact" select="xdb:Contact()" />
                    <ul>
                        <li>
                            Identifier:  @Model.VisitDetails.ContactIdentifier (@Model.VisitDetails.ContactEmail)
                        </li>
                        <li>Device: @Model.VisitDetails.Device</li>
                        <li>
                            Visit Count: @Model.VisitDetails.Visits
                        </li>
                        <li>
                            Page Views: @Model.VisitDetails.PageCount
                        </li>
                        <li>
                            Engagement Value: @Model.VisitDetails.EngagementValue
                        </li>
                    </ul>
                </div>
            </div>
         </div>
    </div>
</div>

 
<div class="col-md-12">
    <div class="row">
        <div class="col-md-12">
            <div class="portlet box scbrandblue">
                <div class="portlet-title">
                    <div class="caption">
                        <i class="fa fa-spotify" style="color:#fff;"></i>Social
                    </div>
                </div>

                <div class="portlet-body">

                    @if (! Model.KloutScore.IsEmpty())
                    {
                    <div class="row margin-bottom-10">
                        <div class="col-md-12">
                            <h3>Klout</h3>
                        </div>
                    </div>

                    <div class="row margin-bottom-10">
                        <div class="col-md-3">
                            Klout Score:
                        </div>
                        <div class="col-md-3">
                            @Model.KloutScore
                        </div>
                        <div class="col-md-3">
                            Klout Trend:
                        </div>
                        <div class="col-md-3">
                            @(Model.KloutTrend==0 ? Html.Raw("<i class=\"fa fa-long-arrow-down\" aria-hidden=\"true\"></i>") : Html.Raw("<i class=\"fa fa-long-arrow-up\" aria-hidden=\"true\"></i>") )
                        </div>
                    </div>
                    }

                    @if (Model.Facebookdata.Id != null)
                    {
                    <div class="row margin-bottom-10">
                        <div class="col-md-12">
                            <h3>Facebook</h3>
                        </div>
                    </div>
                    <div class="row margin-bottom-10">
                        <div class="col-md-3">
                            Name:
                        </div>
                        <div class="col-md-3">
                            @String.Concat(Model.Facebookdata.FirstName, " ", Model.Facebookdata.MiddleName, " ", Model.Facebookdata.LastName)
                        </div>
                        <div class="col-md-3">
                            Date of Birth:
                        </div>
                        <div class="col-md-3">
                            @Model.Facebookdata.DayOfBirth
                        </div>
                    </div>
                    <div class="row margin-bottom-10">
                        <div class="col-md-3">
                            Gender:
                        </div>
                        <div class="col-md-3">
                            @Model.Facebookdata.Gender
                        </div>
                        <div class="col-md-3">
                            Location:
                        </div>
                        <div class="col-md-3">
                            @Model.Facebookdata.Location
                        </div>
                    </div>
                    <div class="row margin-bottom-10">
                        <div class="col-md-3">
                            Relationship:
                        </div>
                        <div class="col-md-3">
                            @Model.Facebookdata.RelationshipStatus
                        </div>
                        <div class="col-md-3">
                            Work:
                        </div>
                        <div class="col-md-3">
                            @Model.Facebookdata.Companies
                        </div>
                    </div>                    
                    <div class="row margin-bottom-10">
                            <div class="col-md-3">
                                Likes:
                            </div>
                            <div class="col-md-6">
                                @Html.Raw(Model.Facebookdata.Likes)
                            </div>
                        </div>
                    <div class="row margin-bottom-10">
                            <div class="col-md-3">
                                Locations:
                            </div>
                            <div class="col-md-6">
                                @Html.Raw(Model.Facebookdata.Location)
                            </div>
                        </div>
                    }

                    @if (Model.Twitterdata.Id != null)
                    {
                    <div class="row margin-bottom-10">
                        <div class="col-md-12">
                            <h3>Twitter</h3>
                        </div>
                    </div>
                    <div class="row margin-bottom-10">
                        <div class="col-md-3">
                            Screen Name:
                        </div>
                        <div class="col-md-3">
                            @Model.Twitterdata.ScreenName
                        </div>
                        <div class="col-md-3">
                            Account Created:
                        </div>
                        <div class="col-md-3">
                            @Model.Twitterdata.Created
                        </div>
                    </div>
                    <div class="row margin-bottom-10">
                        <div class="col-md-3">
                            Followers:
                        </div>
                        <div class="col-md-3">
                            @Model.Twitterdata.NumberOfFollowers
                        </div>
                        <div class="col-md-3">
                            Tweets:
                        </div>
                        <div class="col-md-3">
                            @Model.Twitterdata.NumberOfTweets
                        </div>
                    </div>
                    <div class="row margin-bottom-10">
                        <div class="col-md-3">
                            Location:
                        </div>
                        <div class="col-md-3">
                            @Model.Twitterdata.Location
                        </div>
                        <div class="col-md-3">
                            Description:
                        </div>
                        <div class="col-md-3">
                            @Model.Twitterdata.Name
                        </div>
                    </div>
                    }   

                    @if (Model.Linkedindata.Id != null)
                    {
                    <div class="row margin-bottom-10">
                        <div class="col-md-12">
                            <h3>LinkedIn</h3>
                        </div>
                    </div>
                    <div class="row margin-bottom-10">
                        <div class="col-md-3">
                            Industry:
                        </div>
                        <div class="col-md-3">
                            @Model.Linkedindata.Industry
                        </div>
                        <div class="col-md-3">
                            Location:
                        </div>
                        <div class="col-md-3">
                            @Model.Linkedindata.Location
                        </div>
                    </div>
                    <div class="row margin-bottom-10">
                        <div class="col-md-3">
                            Connections:
                        </div>
                        <div class="col-md-3">
                            @Model.Linkedindata.NumberOfConnections
                        </div>
                        <div class="col-md-3">
                            Profile Link:
                        </div>
                        <div class="col-md-3">
                            <a href="@Model.Linkedindata.Url" target="_blank">@Model.Linkedindata.Url</a>
                        </div>
                    </div>
                    <div class="row margin-bottom-10">
                        <div class="col-md-3">
                            Positions:
                        </div>
                        <div class="col-md-6">
                            @Html.Raw(Model.Linkedindata.Position)
                        </div>
                    </div>
                    }
            </div>
        </div>
        </div>
    </div>
 </div>