﻿
@model IEnumerable<Officecore.Dev.Models.CarouselItem>

<div class="page-slider margin-bottom-40">
    <div id="myCarousel" class="carousel slide" data-interval="7000">
        <!-- Indicators -->
        <ol class="carousel-indicators">
            @{
                int i = 0;
                foreach (var banner in Model)
                {
                    <li data-target="#myCarousel" data-slide-to="@i" class="@(Model.IsFirst(banner) ? "active" : "")"></li>
                    i++;
                }
            }
        </ol>

        <div class="carousel-inner" style="@(Sitecore.Context.PageMode.IsExperienceEditorEditing ? "padding-left:10px;padding-right:10px" : "" )">
            @foreach (var banner in Model)
            {

                <div class="@(Model.IsFirst(banner) ? "item active" : "item")">

                    @Html.Sitecore().Field("Background Image", banner.Item, new { @maxWidth = "1920", @maxHeight = "490", style = "width:100%" })

                    <div class="container">
                        <div>
                            @*<div class="@banner.Position bannertextContainer  @(banner.ShowTextBox ?  "backgroudBox" : "")" style="position:absolute; line-height:3px; color:@banner.TextColour">

                                    @using (Html.EditFrame(banner.Item.Paths.FullPath, "/sitecore/content/Applications/WebEdit/Edit Frame Buttons/Carousel"))
                                    {
                                        <h1>@Html.Sitecore().Field("Title", banner.Item)</h1>
                                    }


                                    @Html.Sitecore().Field("Caption", banner.Item)

                                    <p><a href="@banner.LinkItemUrl" style="color:@banner.TextColour">@Html.Sitecore().Field("Link Text", banner.Item)</a></p>
                                </div>*@
                        </div>
                    </div>

                </div>
            }
        </div>
        <a class="left carousel-control" href="#myCarousel" data-slide="prev"><span class="icon-prev"></span></a>
        <a class="right carousel-control" href="#myCarousel" data-slide="next"><span class="icon-next"></span></a>
    </div>
</div>

<script>
    jQuery2(".left").click(function () {
        jQuery2("#myCarousel").carousel("prev");
    });
    jQuery2(".right").click(function () {
        jQuery2("#myCarousel").carousel("next");
    });
</script>