﻿@model IEnumerable<Officecore.Dev.Models.Cases>

<h1>@Html.Sitecore().Field("Title", Sitecore.Context.Item)</h1>

<table class="table table-striped table-bordered table-condensed">
    <thead>
        <tr>
            <th>Date</th>
            <th>Subject</th>
            <th>Description</th>
            <th>Status</th>
        </tr>
    </thead>
    @foreach (var item in Model.OrderByDescending(x => x.DateCreated))
    {
        <tr>
            <td>@item.DateCreated.ToString("dd MMM yyyy, HH:mm")</td>
            <td>@item.Title</td>
            <td>@item.Description</td>
            <td>@item.Status</td>
        </tr>
    }
</table>
