﻿@model Officecore.Dev.Models.GalleryItemList

<h2>@Html.Sitecore().Field("title", Sitecore.Context.Item)</h2>

<div class="filter-v1">
    <ul class="mix-filter">
        <li data-filter="all" class="filter active">All</li>
        @foreach(var tag in Model.Tags)
        { 
            <li  class="filter" data-filter="@tag">
                @tag
            </li>
        }
    </ul>

    <div class="row mix-grid thumbnails">
        @foreach(var item in Model.ChildItems)
        { 
            <div class="col-md-2 col-sm-3 mix action mix_all @item.TagValues.FirstOrDefault()" style="display: block; opacity: 1;">
                <div class="mix-inner">
                    <a href="@item.InnerItem.GetLinkFieldURL(item.InnerItem.Fields["website"])" target="_blank">@Html.Sitecore().Field("logo on", item.InnerItem, new {@class="img-responsive"})</a>
                </div>
            </div>
        }
    </div>

</div>

