﻿@model IEnumerable<Officecore.Dev.Models.Clients>

<!-- BEGIN CLIENTS -->
<div class="row margin-bottom-40 our-clients">
    <div class="col-md-3">
        <h2>@(SiteConfiguration.SiteVertical() == "" ? "Our" : SiteConfiguration.SiteVertical())  Clients </h2>
        <br />
        <p>Interested to see more of our customers? Click  <a href="@SiteConfiguration.AboutItemUrl()">here</a>.</p>
    </div>
    <div class="col-md-9">
        <div class="owl-carousel owl-carousel6-brands">
            @foreach (var item in Model.OrderByDescending(x => x.Created).Take(15))
            {
            <div class="client-item">
                <a href="@item.WebsiteLinnk" target="_blank">
                    @Html.Sitecore().Field("logo off", item.Item, new { @class = "img-responsive" })
                    @Html.Sitecore().Field("logo on", item.Item, new { @class = "color-img img-responsive" })
                </a>
            </div>
            }
        </div>
    </div>
</div>
<!-- END CLIENTS -->