﻿@model IEnumerable<Officecore.Dev.Models.SimpleItem>

@foreach (var item in Model)
{
    <div class="row">
        <div class="col-md-4 col-sm-4">
            <!-- BEGIN CAROUSEL -->
            <div class="front-carousel">
                <div class="carousel slide" id="myCarousel">
                    <!-- Carousel items -->
                    <div class="carousel-inner">
                        <div class="item active">
                            @Html.Sitecore().Field("image", item.Item, new { @class = "img-responsive", @maxWidth = "260", @maxHeight = "177" })
                        </div>
                    </div>

                </div>
            </div>
            <!-- END CAROUSEL -->
        </div>
        <div class="col-md-8 col-sm-8">
            <h2><a href="@item.Url">@Html.Sitecore().Field("Title", item)</a></h2>
            <p>@Html.Sitecore().Field("Summary", item)</p>
            <a href="@item.Url" class="more">Read more <i class="icon-angle-right"></i></a>
        </div>
    </div>
        <hr class="blog-post-sep" />
}