﻿@model IEnumerable<Officecore.Dev.Models.LocationItem>

<style type="text/css">
    #map-canvas {
        height: 450px;
        width: 100%;
    }
</style>

<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCuknx7eNttt8b2qD9clfSUC8oJvD1s7Ag&sensor=false">
</script>
<div id="map-canvas">

</div>

<script type="text/javascript">
    var map;
    var points = "";

    function initialize()
    {
        var mapOptions = { zoom: 2 };
        map = new google.maps.Map(document.getElementById('map-canvas'), mapOptions);

        // Try HTML5 geolocation
        if (navigator.geolocation || true)
        {
            var latlons = [
                 @foreach (var item in Model)
                 {
                     <text>[@item.Lat, @item.Long, '@item.LocationName', '<div class="panel panel-default"><div class="panel-body" style="line-height:1.35;overflow:hidden;white-space:nowrap;"><div><a href="@item.Url">@item.LocationName</a></div><div>@item.Line1</div><div>@item.Line2</div><div>@item.City</div><div>@item.Postcode</div><div>@item.Phone<div><div>@item.Email</div></div></div>']</text>

                     if (!Model.IsLast(item)) {<text>,</text>}
                 }
            ];

     /*       navigator.geolocation.getCurrentPosition
                (
                    function (position)
                    {
                        //var pos = new google.maps.LatLng(position.coords.latitude, position.coords.longitude);


                    });*/

            var pos = new google.maps.LatLng(19.313641, -1.445220);

          /*  var infowindow = new google.maps.InfoWindow({
                map: map,
                position: pos,
                content: 'You are here.'}); */

                map.setCenter(pos);
                for (var i = 0; i < latlons.length; i++) {
                    var myinfowindow = new google.maps.InfoWindow({
                        content: latlons[i][3],
                        maxWidth: 300
                    });
                    var marker = new google.maps.Marker({
                        map: map,
                        position: new google.maps.LatLng(latlons[i][0], latlons[i][1]),
                        title: latlons[i][2],
                        infowindow: myinfowindow
                    });
                    google.maps.event.addListener(marker, 'click', function () {
                        this.infowindow.open(map, this);
                    });

                }
            }
    }

    function handleNoGeolocation(errorFlag) {
        if (errorFlag) {
            var content = 'Error: The Geolocation service failed.';
        } else {
            var content = 'Error: Your browser doesn\'t support geolocation.';
        }

        var options = {
            map: map,
            position: new google.maps.LatLng(19.313641, -1.445220),
            content: content
        };

        var infowindow = new google.maps.InfoWindow(options);
        map.setCenter(options.position);
    }

    google.maps.event.addDomListener(window, 'load', initialize);
</script>
