﻿@model IEnumerable<Officecore.Dev.Models.NewsItem>
    @{ 
        var count = 1;
    }

@foreach (var newsItem in Model)
{    
        if (count % 2 == 0)
        {
            <div class="row">
                <div class="col-md-8 col-sm-8">
                    <h2><a href="@newsItem.Url">@Html.Sitecore().Field("title", newsItem.Item)</a></h2>
                    <ul class="blog-info">
                        <li><i class="fa fa-calendar"></i>&#160;@Html.Sitecore().RenderDate("date", newsItem.Item, "dd/MM/yyyy")</li>
                        <li><i class="fa fa-comments"></i> 16</li>
                    </ul>
                    <p>@Html.Sitecore().Field("summary", newsItem.Item)</p>
                    <a href="@newsItem.Url" class="more">Read more <i class="icon-angle-right"></i></a>
                </div>
                <div class="col-md-4 col-sm-4">
                    <!-- BEGIN CAROUSEL -->
                    <div class="front-carousel">
                        <div class="carousel slide" id="myCarousel">
                            <!-- Carousel items -->
                            <div class="carousel-inner">
                                <div class="item active">
                                    @Html.Sitecore().Field("teaser image", newsItem.Item, new { @maxWidth = "360", @maxHeight = "201", @as = "1" })
                                </div>
                            </div>

                        </div>
                    </div>
                    <!-- END CAROUSEL -->
                </div>
            </div>
            <hr class="blog-post-sep" />

        }
        else
        {
            <div class="row">
                <div class="col-md-4 col-sm-4">
                    <!-- BEGIN CAROUSEL -->
                    <div class="front-carousel">
                        <div class="carousel slide" id="myCarousel">
                            <!-- Carousel items -->
                            <div class="carousel-inner">
                                <div class="item active">
                                    @Html.Sitecore().Field("teaser image", newsItem.Item, new { @maxWidth = "360", @maxHeight = "201", @as = "1" }) 
                                </div>
                            </div>

                        </div>
                    </div>
                    <!-- END CAROUSEL -->
                </div>
                <div class="col-md-8 col-sm-8">
                    <h2><a href="@newsItem.Url">@Html.Sitecore().Field("title", newsItem.Item)</a></h2>
                    <ul class="blog-info">
                        <li><i class="fa fa-calendar"></i>&#160;@Html.Sitecore().RenderDate("date", newsItem.Item, "dd/MM/yyyy")</li>
                        <li><i class="fa fa-comments"></i> 17</li>

                    </ul>
                    <p>@Html.Sitecore().Field("summary", newsItem.Item)</p>
                    <a href="@newsItem.Url" class="more">Read more <i class="icon-angle-right"></i></a>
                </div>
            </div>
            <hr class="blog-post-sep" />
        }
        
    count++ ;
}

        