﻿@model Officecore.Dev.Models.GalleryItemList

<h2>@Html.Sitecore().Field("title", Sitecore.Context.Item)</h2>

<div class="filter-v1">
    <ul class="mix-filter">
        <li data-filter="all" class="filter active">All</li>
        @foreach(var tag in Model.Tags)
        { 
            <li  class="filter" data-filter="@tag">
                @tag
            </li>
        }
    </ul>

    <div class="row mix-grid thumbnails">
        @foreach(var item in Model.ChildItems)
        { 
            <div class="col-md-6 col-sm-6 mix @item.TagValues.FirstOrDefault()" style="display: block; opacity: 1;">
                <div class="mix-inner">
                    @Html.Sitecore().Field("image", item.InnerItem, new {@width="555", @as="1", @class = "img-responsive" })
                    <div class="mix-details @SiteConfiguration.GetSiteTheme().CSS ">
                        <h4>@Html.Sitecore().Field("title", item.InnerItem)</h4>
                        <p>@Html.Sitecore().Field("summary", item.InnerItem)</p>
                        <a href="@item.Url" class="mix-link"><i class="fa fa-link"></i></a>
                       <a href="@(Sitecore.Resources.Media.MediaManager.GetMediaUrl(((Sitecore.Data.Fields.ImageField)item.InnerItem.Fields["image"]).MediaItem))" data-rel="fancybox-button" title="@Html.Sitecore().Field("title", item.InnerItem, new { DisableWebEdit = true })"  class="mix-preview fancybox-button"><i class="fa fa-search"></i></a> 
                    </div>
                </div>
            </div>
        }
    </div>

</div>
