﻿@model IEnumerable<Officecore.Dev.Models.NewsItem>

<div class="row recent-work margin-bottom-40">
    <div class="col-md-3">
        <h2><a href="">Recent @Model.FirstOrDefault().Item.Parent["Title"]</a></h2>
        @Html.Sitecore().Field("text", Model.FirstOrDefault().Item.Parent)
    </div>
    <div class="col-md-9">
        <div class="owl-carousel owl-carousel3">
            @foreach (var item in Model.OrderByDescending(x => x.Date))
            {
                <div class="recent-work-item">
                    <em>
                        <a href="@item.Url">
                            @Html.Sitecore().Field("teaser image",  item.Item, new { @maxWidth = "273", @maxHeight="152",  @as="1", @class="img-responsive" })
                        </a>
                    </em>
                    <a href="@item.Url" class="recent-work-description">
                        <strong>@Html.Sitecore().Field("title", item.Item)</strong>
                        <b>@Html.Sitecore().RenderDate("date", item.Item, "MMMM dd, yyyy")</b>
                    </a>
                </div>
            }
        </div>
    </div>
</div>   