﻿@model IEnumerable<Officecore.Dev.Models.ReturnRequest>
<h1>@Html.Sitecore().Field("Title", Sitecore.Context.Item)</h1>

<table class="table table-striped table-bordered table-condensed">
    <thead>
        <tr>
            <th>Date</th>
            <th>Product</th>
            <th>Reason</th>
            <th>Status</th>
        </tr>
    </thead>
    @foreach (var item in Model.OrderByDescending(x => x.Created))
    {
        <tr>
            <td>@item.Updated</td>
            <td>@item.Product</td>
            <td>@item.Reason</td>
            <td>@item.Status</td>
        </tr>
    }
</table> 
