﻿@model IEnumerable < Officecore.Dev.Models.SimpleItem>

<div class="row recent-work margin-bottom-40">
    <div class="col-md-12">
        <div class="owl-carousel owl-carousel3">
            @foreach (var item in Model)
            {
                if (item.ShowInMenu)
                {
                    <div class="recent-work-item">

                        <em>
                            <a href="@item.Url">
                                @Html.Sitecore().Field("image", item.Item, new { @class="img-responsive", @maxWidth="370", @maxHeight="247", @width="370", @height="247", @bc="#ffffff" }) 
                            </a>
                        </em>
                        <a href="@item.Url" class="recent-work-description">
                            <strong style="text-align:center;">@Html.Sitecore().Field("title", item)</strong>
                        </a>
                    </div>
                }
            }
        </div>
    </div>
</div>   