﻿@{
    var footer = SiteConfiguration.GetSiteFooter();
}

<!-- BEGIN PRE-FOOTER -->
<div class="pre-footer">
    <div class="container">
        <div class="row">
            <!-- BEGIN BOTTOM ABOUT BLOCK -->
            <div class="col-md-4 col-sm-6 pre-footer-col">
                <h2>About us</h2>
                <p>@Html.Sitecore().Field("about us", footer)</p>

                <div class="photo-stream">
                    <h2>Photos Stream</h2>
                    <ul class="list-unstyled">
                        <li><a href="#"><img alt="" src="/metronic/frontend/pages/img/people/img5-small.jpg" /></a></li>
                        <li><a href="#"><img alt="" src="/metronic/frontend/pages/img/works/img1.jpg" /></a></li>
                        <li><a href="#"><img alt="" src="/metronic/frontend/pages/img/people/img4-large.jpg" /></a></li>
                        <li><a href="#"><img alt="" src="/metronic/frontend/pages/img/works/img6.jpg" /></a></li>
                        <li><a href="#"><img alt="" src="/metronic/frontend/pages/img/works/img3.jpg" /></a></li>
                        <li><a href="#"><img alt="" src="/metronic/frontend/pages/img/people/img2-large.jpg" /></a></li>
                        <li><a href="#"><img alt="" src="/metronic/frontend/pages/img/works/img2.jpg" /></a></li>
                        <li><a href="#"><img alt="" src="/metronic/frontend/pages/img/works/img5.jpg" /></a></li>
                        <li><a href="#"><img alt="" src="/metronic/frontend/pages/img/people/img5-small.jpg" /></a></li>
                        <li><a href="#"><img alt="" src="/metronic/frontend/pages/img/works/img1.jpg" /></a></li>
                        <li><a href="#"><img alt="" src="/metronic/frontend/pages/img/people/img4-large.jpg" /></a></li>
                        <li><a href="#"><img alt="" src="/metronic/frontend/pages/img/works/img6.jpg" /></a></li>
                        <li><a href="#"><img alt="" src="/metronic/frontend/pages/img/works/img3.jpg" /></a></li>
                        <li><a href="#"><img alt="" src="/metronic/frontend/pages/img/people/img2-large.jpg" /></a></li>
                        <li><a href="#"><img alt="" src="/metronic/frontend/pages/img/works/img2.jpg" /></a></li>
                    </ul>
                </div>
            </div>
            <!-- END BOTTOM ABOUT BLOCK -->
            <!-- BEGIN BOTTOM CONTACTS -->
            <div class="col-md-4 col-sm-6 pre-footer-col">
                <h2>Our Contacts</h2>
                <address class="margin-bottom-40">
                    @Html.Sitecore().Field("company", footer), @Html.Sitecore().Field("address", footer)<br />
                    @Html.Sitecore().Field("address 2", footer), @Html.Sitecore().Field("address 3", footer)<br />
                    Phone: @Html.Sitecore().Field("phone", footer)<br />
                    Fax: @Html.Sitecore().Field("fax", footer)<br />
                    Email: @Html.Sitecore().Field("email", footer)<br />
                    Skype: @Html.Sitecore().Field("skype", footer)
                </address>

                <div class="pre-footer-subscribe-box pre-footer-subscribe-box-vertical">
                    <h2>Newsletter</h2>
                    <p>Subscribe to our newsletter and stay up to date with the latest news and deals!</p>
                    <form2 action="#">
                        <div class="input-group">
                            <input type="text" placeholder="youremail@mail.com" class="form-control" />
                            <span class="input-group-btn">
                                <button class="btn btn-primary" type="submit">Subscribe</button>
                            </span>
                        </div>
                    </form2>
                </div>
            </div>
            <!-- END BOTTOM CONTACTS -->
            <!-- BEGIN TWITTER BLOCK -->
            <div class="col-md-4 col-sm-6 pre-footer-col">
                <h2 class="margin-bottom-0">Latest Tweets</h2>
                @if (Sitecore.Context.PageMode.IsExperienceEditorEditing)
                {
                        <a>
                            Showing tweets by @Html.Sitecore().Field("twitter feed", footer)...
                        </a>
                }
                else
                {
                        <a class="twitter-timeline" data-screen-name="@Html.Sitecore().Field("twitter feed", footer)" href="https://twitter.com/twitterapi" data-screen-name="" data-tweet-limit="2" data-theme="dark" data-link-color="#57C8EB" data-widget-id="455411516829736961" data-chrome="noheader nofooter noscrollbar noborders transparent">
                            Loading tweets by @Html.Sitecore().Field("twitter feed", footer)...
                        </a>
                }

            </div>
            <!-- END TWITTER BLOCK -->
        </div>
    </div>
</div>
<!-- END PRE-FOOTER -->
<!-- BEGIN FOOTER -->
<div class="footer">
    <div class="container">
        <div class="row">
            <!-- BEGIN COPYRIGHT -->
            <div class="col-md-6 col-sm-6 padding-top-10">
                @Html.Sitecore().Field("copyright", footer)<!--&#160;&#160;&#160;&#160;&#160;<a href="#">Privacy Policy</a> | <a href="#">Terms of Service</a>-->
            </div>
            <!-- END COPYRIGHT -->
            <!-- BEGIN PAYMENTS -->
            <div class="col-md-6 col-sm-6">
                <ul class="social-footer list-unstyled list-inline pull-right">
                    <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                    <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                    <li><a href="#"><i class="fa fa-dribbble"></i></a></li>
                    <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                    <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                    <li><a href="#"><i class="fa fa-skype"></i></a></li>
                    <li><a href="#"><i class="fa fa-github"></i></a></li>
                    <li><a href="#"><i class="fa fa-youtube"></i></a></li>
                    <li><a href="#"><i class="fa fa-dropbox"></i></a></li>
                </ul>
            </div>
            <!-- END PAYMENTS -->
        </div>
    </div>
</div>
<!-- END FOOTER -->