﻿
@model Sitecore.Mvc.Presentation.RenderingModel

<!-- Load javascripts at bottom, this will reduce page load time -->
<!-- BEGIN CORE PLUGINS (REQUIRED FOR ALL PAGES) -->
<!--[if lt IE 9]>
<script src="/metronic/global/plugins/respond.min.js"></script>
<![endif]-->

<script src="/metronic/global/plugins/jquery.min.js" type="text/javascript"></script>
<script src="/metronic/global/plugins/jquery-migrate.min.js" type="text/javascript"></script>
<script>
		 jQuery2=jQuery.noConflict();
</script>
<script src="/metronic/global/plugins/bootstrap/js/bootstrap.min.js" type="text/javascript"></script>
<script src="/metronic/frontend/layout/scripts/back-to-top.js" type="text/javascript"></script>

<!-- END CORE PLUGINS -->
<!-- BEGIN PAGE LEVEL JAVASCRIPTS (REQUIRED ONLY FOR CURRENT PAGE) -->
<script src="/metronic/global/plugins/fancybox/source/jquery.fancybox.pack.js" type="text/javascript"></script><!-- pop up -->
<script src="/metronic/global/plugins/carousel-owl-carousel/owl-carousel/owl.carousel.min.js" type="text/javascript"></script><!-- slider for products -->
<script src="/metronic/global/plugins/jquery-mixitup/jquery.mixitup.min.js" type="text/javascript"></script>
<script src="/metronic/frontend/pages/scripts/portfolio.js" type="text/javascript"></script>

<!-- BEGIN RevolutionSlider -->
<script src="/metronic/global/plugins/slider-revolution-slider/rs-plugin/js/jquery.themepunch.revolution.min.js" type="text/javascript"></script>
<script src="/metronic/global/plugins/slider-revolution-slider/rs-plugin/js/jquery.themepunch.tools.min.js" type="text/javascript"></script>

@if (Sitecore.Context.PageMode.IsExperienceEditorEditing)
{
    <script src="/metronic/frontend/pages/scripts/revo-slider-init-pe.js" type="text/javascript"></script>
}
else
{
    <script src="/metronic/frontend/pages/scripts/revo-slider-init.js" type="text/javascript"></script>
}

<!-- END RevolutionSlider -->

<script src="/metronic/frontend/layout/scripts/layout.js" type="text/javascript"></script>
<script src="/javascript/global.js" type="text/javascript"></script>
<script src="/javascript/PatchLink.js" type="text/javascript"></script>

<script type="text/javascript">
    var loaded = false;
		jQuery(document).ready(function() {
			Layout.init();
			Layout.initOWL();

@if (Sitecore.Context.PageMode.IsExperienceEditorEditing)
    {
    <text>
        if (jQuery(".fullwidthabnner > ul > li").length > 1)
        {
            RevosliderInit.initRevoSlider();
        }
        </text>
     
    }

    Layout.initTwitter();
    //Layout.initFixHeaderWithPreHeader(); /* Switch On Header Fixing (only if you have pre-header) */
    //Layout.initNavScrolling();
    Portfolio.init();
    Layout.fixEditMode();
});
</script>
<!-- END PAGE LEVEL JAVASCRIPTS -->