﻿@model Officecore.Dev.Models.VisitInformation
@{
    int count = 1;
}

@if (!Sitecore.Context.PageMode.IsExperienceEditorEditing)
{
    <div class="color-panel hidden-sm">
        <div class="color-mode-icons icon-color @*@Officecore.Dev.Configuration.SiteConfiguration.GetSiteTheme().CSS*@">


        </div>
        <div class="color-mode-icons icon-color-close @*@Officecore.Dev.Configuration.SiteConfiguration.GetSiteTheme().CSS*@" style="display: none;"></div>
        <div class="color-mode @*@Officecore.Dev.Configuration.SiteConfiguration.GetSiteTheme().CSS*@" style="display: none; width: 350px;">
            <p style="color: #fff !important; margin: 0 !important; padding: 0 !important; position:relative; top: -10px;">ANALYTICS PROFILE</p>

                <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                <div class="panel panel-default">
                    <div class="panel-heading" role="tab" id="headingOne">
                        <h4 class="panel-title">
                            <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                Matched Profile
                            </a>
                        </h4>
                    </div>
                    <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
                        <div class="panel-body">
                            
                            @if (Model.PatternMatches.Count == 0)
                            {
                                <div>
                                    <div class="image-wrapper"><img src="/assets/img/nope.png" alt="Unknown" /></div>
                                    <h4>No Matching Patterns</h4>
                                </div>
                                <div style="clear: both"></div>
                            }
                            else
                            {
                                foreach (var item in Model.PatternMatches)
                                {
                                    <div>
                                        <div class="image-wrapper"><img src="@item.Image" alt="@item.PatternName" /></div>
                                        <h4>@item.Profile</h4>
                                        <h4><strong>@item.PatternName</strong></h4>
                                    </div>
                                    <div style="clear: both"></div>
                                }
                            }



                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading" role="tab" id="headingTwo">
                        <h4 class="panel-title">
                            <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                Profile Values
                            </a>
                        </h4>
                    </div>
                    <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
                        <div class="panel-body">
 

                        @foreach (var profile in Model.GetProfiles())
                        {
                            <text>
                            <script type="text/javascript">
					            AmCharts.makeChart(@Html.Raw("'chartdiv" + count.ToString() + "'"),
						            {
							            "type": "pie",
							            "path": "https://www.amcharts.com/lib/3/",
							            "labelText": "[[title]]",
							            "labelRadius": 5,
							            "radius": 75,
							            "sequencedAnimation": false,
							            "startDuration": 0,
							            "titleField": "category",
							            "valueField": "column-1",
							            "marginBottom": 0,
							            "marginTop": 0,
							            "fontSize": 10,
							            "theme": "light",
							            "allLabels": [],
							            "balloon": {},
							            "titles": [
								            {
									            "id": "Title-1",
									            "text": "@profile.Profile"
								            }
							            ],
						                "dataProvider": [
                                            @*@foreach (var key in profile.Keys.OrderBy(x=>x.Key))
                                                {
                                                <text>
                                                    {
                                                        "category" : "@key.Key",
                                                        "column-1" : @key.Value
                                                    }
                                                    @if(key.Key != profile.Keys.OrderBy(x=>x.Key).Last().Key)
                                                    {
                                                        @Html.Raw(",");
                                                    }
                                                </text>
                                                }*@
                                            ]

						            }
					            );
                            </script>
                            <div id="chartdiv@(Html.Raw(count))" style="width: 100%; height: 250px; background-color: #FFFFFF;"></div>
                            </text>

                            count++;
                        }


                        
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading" role="tab" id="headingThree">
                        <h4 class="panel-title">
                            <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                Visitor Details
                            </a>
                        </h4>
                    </div>
                    <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
                        <div class="panel-body">
                            <h4>Visit Information</h4>
                            @* TODO:  *@
                            @*Identifier: @Model.ContactIdentifier (@Model.ContactEmail) <br />*@
                            Visits: @Model.Visits <br />
                            Page Views: @Model.PageCount<br />
                            Engagement Value: @Model.EngagementValue<br /><br />
                            <h4>Visitor Location</h4>
                            City: @Model.City<br />
                            Postalcode: @Model.PostalCode<br /> 
                            Business: @Model.BusinessName
                            <br /><br />
                            <h4>Device</h4>
                            @Model.Device <br /><br />
                            <h4>Goals</h4>
                            @foreach(var goal in Model.PageGoals().OrderBy(x=>x.DateT))
                            {
                                 @Html.Raw(String.Concat(goal.DateT.ToString("ddd MMM yyyy, HH:MM"), " - ",  goal.GoalName, " (", goal.Points, ") <br />"))
                            }
                        </div>
                    </div>
                </div>
            </div>






        </div>
    </div>
}