﻿
@model RenderingModel
@{
    var item = SiteConfiguration.GetSiteFooter();
    string sid = (Session["callbackID"] == null) ? "" : Session["callbackID"].ToString();
    bool callback = false;

    if (Session["callback"] != null)
    {
        bool.TryParse(HttpContext.Current.Session["callback"].ToString(), out callback);
    }

    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm" }))
    {
        Html.AntiForgeryToken();
    }
}
<!-- BEGIN TOP BAR -->
<div class="pre-header">
    <div class="container">
        <div class="row">
            <!-- BEGIN TOP BAR LEFT PART -->
            <div class="col-md-6 col-sm-6 additional-shop-info">
                <ul class="list-unstyled list-inline">
                    @if(callback == true)
                    {
                         <li id="callback-@sid">
                             @if (!String.IsNullOrEmpty(sid))
                             {
                                <i class="fa fa-headphones fa-spin  fa-fw"></i>
                             }
                             <span><a href="/call-back">Waiting</a></span>
                         </li>
                    }
                    <li><i class="fa fa-phone"></i><span>@item["phone"]</span></li>
                    <li><i class="fa fa-envelope-o"></i><span>@Html.Sitecore().Field("email", item)</span></li>
                </ul>
            </div>
            <!-- END TOP BAR LEFT PART -->
            <!-- BEGIN TOP BAR MENU -->
            <div class="col-md-6 col-sm-6 additional-nav">
                <ul class="list-unstyled list-inline pull-right">
                    @if (Sitecore.Context.IsLoggedIn)
                    {
                        <li><a href="/my-account">My Account</a></li>
                            <li><a href="javascript:document.getElementById('logoutForm').submit()">Log out</a></li>

                        if (Sitecore.Context.PageMode.IsExperienceEditorEditing)
                        {
                            <li><a href="/login">Log In</a></li>
                                <li><a href="/register">Registration</a></li>
                        }
                    }
                    else
                    {
                        <li><a href="/login">Log In</a></li>
                        <li><a href="/register">Registration</a></li>
                    }

                    @if (Sitecore.Context.Language.Name == "en")
                    {
                        <li><a href="?sc_lang=ja-JP"><img src="/images/flag_japan_16x16.png" /></a></li>
                    }
                    else
                    {
                        <li><a href="?sc_lang=en"><img src="/images/flag_great_britain_16x16.png" /></a></li>
                    }

                </ul>
            </div>
            <!-- END TOP BAR MENU -->
        </div>
    </div>
</div>
<!-- END TOP BAR -->