﻿
@model Officecore.Dev.Models.CarouselItem

<div class="page-slider margin-bottom-40">
    <div id="myCarousel" class="carousel slide" data-interval="7000">
        <!-- Indicators -->


        <div class="carousel-inner" style="@(Sitecore.Context.PageMode.IsExperienceEditorEditing ? "padding-left:10px;padding-right:10px" : "" )">

                <div class="item active">

                    @Html.Sitecore().Field("Background Image", Model.Item, new { @maxWidth = "1920", @maxHeight = "490", @Height="490", style = "width:100%" })

                    <div class="container">
                        <div>
                            <div class="@Model.Position bannertextContainer @(Model.ShowTextBox ?  "backgroudBox" : "")" style="position:absolute; line-height:3px; color:@Model.TextColour">

                                @using (Html.EditFrame(Model.Item.Paths.FullPath, "/sitecore/content/Applications/WebEdit/Edit Frame Buttons/Carousel"))
                                {
                                    <h1>@Html.Sitecore().Field("Title", Model.Item)</h1>
                                }


                                @Html.Sitecore().Field("Caption", Model.Item)

                                <p><a href="@Model.LinkItemUrl" style="color:@Model.TextColour">@Html.Sitecore().Field("Link Text", Model.Item)</a></p>
                            </div>
                        </div>
                    </div>

                </div>
        </div>

    </div>
</div>


