﻿@model Sitecore.Mvc.Presentation.RenderingModel
@{
    var footer = SiteConfiguration.GetSiteFooter();
}

	<!-- BEGIN CONTACT -->
<h2>Contacts Us</h2>
<address>
    <strong>@Html.Sitecore().Field("company", footer)</strong><br />
    @Html.Sitecore().Field("address", footer)<br />
    @Html.Sitecore().Field("address 2", footer)<br />
    @Html.Sitecore().Field("address 3", footer)<br />
    <abbr title="Phone">P:</abbr>&#160;@Html.Sitecore().Field("phone", footer)<br />
    <abbr title="Fax">F:</abbr>&#160;@Html.Sitecore().Field("fax", footer)
</address>
<address>
    <strong>Email</strong><br />
    @Html.Sitecore().Field("email", footer)
</address>
<!-- END CONTACT -->	
