﻿@model Officecore.Dev.Models.SimpleItem

<div class="form-info">
    @Html.Sitecore().Field("Title")
    <!--<h2><em>Important</em> Information</h2>-->
    @Html.Sitecore().Field("Text")
    <!-- <button type="button" class="btn btn-default {sc:fld('css',$home)}hover"><sc:text field="button text" /></button> -->

</div>