﻿@model Officecore.Dev.Models.LocationItem


<style type="text/css">
    #map-canvas {
        height: 450px;
        width: 100%;
    }
</style>

<script type="text/javascript"
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCuknx7eNttt8b2qD9clfSUC8oJvD1s7Ag&sensor=false">
</script>

@if (!Sitecore.Context.PageMode.IsExperienceEditorEditing)
{
<div id="map-canvas" />
<script type="text/javascript">
    var points = "";

    var latlons = [[@Model.Lat,@Model.Long, '@Model.LocationName', '<div class="panel panel-default"><div class="panel-body" style="line-height:1.35;overflow:hidden;white-space:nowrap;"><div><a href="@Model.Url">@Model.LocationName</a></div><div>@Model.Line1</div><div>@Model.Line2</div><div>@Model.City</div><div>@Model.Postcode/div><div>@Model.Phone</div><div>@Model.Email</div> </div></div>']];
    function initialize() {
        var mapOptions = {
            zoom: 15,
            center: new google.maps.LatLng(latlons[0][0], latlons[0][1])
        };

        var map = new google.maps.Map(document.getElementById('map-canvas'), mapOptions);

        var myinfowindow = new google.maps.InfoWindow({
            content: latlons[0][3],
            maxWidth: 300
        });
        var marker = new google.maps.Marker({
            map: map,
            position: new google.maps.LatLng(latlons[0][0], latlons[0][1]),
            title: latlons[0][2],
            infowindow: myinfowindow
        });
        google.maps.event.addListener(marker, 'click', function () {
            this.infowindow.open(map, this);
        });
    }
    google.maps.event.addDomListener(window, 'load', initialize);
</script>
}
else
{
<div>
    <img src="https://maps.googleapis.com/maps/api/staticmap?key=AIzaSyCIqWOOGr8NHkKiIIdlbkfQXVKRrRzSbsA&center=@(Model.Lat),@(Model.Long)&size=900x550&zoom=14&scale=2" alt="map" height="450px" width="100%" />
</div>
}