﻿@model Officecore.Dev.Models.MediaTabItems
  <!-- TABS -->
<div class="col-md-12 tab-style-1">
    <ul class="nav nav-tabs">
        <li class="active"><a href="#tab-1" data-toggle="tab">Images</a></li>
        @if (Model.VideoUrls.Count() > 0)
        {
            <li><a href="#tab-2" data-toggle="tab">Videos</a></li>
        }
    </ul>
    <div class="tab-content">
        <div class="tab-pane row fade in active" id="tab-1">
            @foreach (var url in Model.ImageUrls)
            {
                <div class="col-md-3 col-sm-4 gallery-item">
                    <a data-rel="fancybox-button" title="" href="@url" class="fancybox-button">
                       <img alt="" src="@(url)?w=100&amp;h=75&amp;as=1&amp;bc=FAFAFA" class="img-responsive" />
                    </a>
                </div>
            }
        </div>
        <div class="tab-pane fade" id="tab-2">
            @foreach (var vidurl in Model.VideoUrls)
            {
                <video controls="controls" style="width:100%;background-color:#fff !important;">
                    <source src="@vidurl" type="video/mp4" />
                    <p>Your browser does not support the <code>video</code> element.</p>
                </video>
            }
        </div>
    </div>
</div>
<!-- END TABS -->