﻿@model Officecore.Dev.Models.BlockQuote
@{
    var color = (Model.ID == new Sitecore.Data.ID("8CBDA387-0FFE-4258-ACD9-AA7CE0ABF10A") ? SiteConfiguration.GetSiteTheme().CSS : Model.Colour.CSS);
    var hover = (Model.ID == new Sitecore.Data.ID("8CBDA387-0FFE-4258-ACD9-AA7CE0ABF10A") ? SiteConfiguration.GetSiteHoverTheme().CSS + "hover" : Model.HoverColour.CSS);
}


<div class="row quote-v1 @color @hover margin-bottom-30 ineditmode">
    <div class="col-md-9">
        <span class="@(Sitecore.Context.PageMode.IsExperienceEditorEditing ? "ineditmodetext" : "" )">
            @(Sitecore.Context.PageMode.IsExperienceEditorEditing ? "[username]" : Sitecore.Context.User.Profile["Firstname"] )  
            @(Sitecore.Context.User.Profile["CallbackMessage"]== "" ? ", Welcome back." : Sitecore.Context.User.Profile["CallbackMessage"]  )
        </span>
    </div>
    <div class="col-md-3 text-right @(Sitecore.Context.PageMode.IsExperienceEditorEditing ? "ineditmodebutton" : "" )">
        <a href="@Model.Link" target="_self" class="btn-transparent">
            <i class="@Model.Icon"></i>
            @Html.Sitecore().Field("link text")
        </a>
    </div>
</div>
