﻿@model Officecore.Dev.Models.SimpleItem

<div class="form-info">
    <h2><em>@Html.Sitecore().Field("Title", Model.InnerItem)</em></h2>
    <div class="margin-bottom-10">
        @Html.Sitecore().Field("image", Model.InnerItem, new { @mw="230"})
    </div>
    <div class="margin-bottom-10">
        @Html.Sitecore().Field("summary", Model.InnerItem)
    </div>
    <a href="@Model.Url" class="btn @Officecore.Dev.Configuration.SiteConfiguration.GetSiteTheme().CSS btn-block">

        Find out more
    </a>

</div>