﻿@model Officecore.Dev.Models.SimpleItem

	<!-- BEGIN SERVICE BOX -->
<div class="row service-box margin-bottom-40">
    <div class="col-md-4 col-sm-4">
        <div class="service-box-heading">
            <em>
                <i class="@Model.Item["icon 1"]"></i>
            </em>
            <span>@Html.Sitecore().Field("title 1", Model.Item)</span>
        </div>
        <p>@Html.Sitecore().Field("text 1", Model.Item)</p>
    </div>
    <div class="col-md-4 col-sm-4">
        <div class="service-box-heading">
            <em>
                <i class="@Model.Item["icon 2"]"></i>
            </em>
            <span>@Html.Sitecore().Field("title 2", Model.Item)</span>
        </div>
        <p>@Html.Sitecore().Field("text 2", Model.Item)</p>
    </div>
    <div class="col-md-4 col-sm-4">
        <div class="service-box-heading">
            <em>
                <i class="@Model.Item["icon 3"]"></i>
            </em>
            <span>@Html.Sitecore().Field("title 3", Model.Item)</span>
        </div>
        <p>@Html.Sitecore().Field("text 3", Model.Item)</p>
    </div>
</div>
<!-- END SERVICE BOX -->


