﻿@model Officecore.Dev.Models.Video


<div class="page-slider margin-bottom-25">
    <div class="fullwidthbanner-container revolution-slider" style="max-height:720px; height:720px; background-color:#F8F8F8;">
        <div class="fullwidthabnner">
            <ul id="revolutionul" style="height:auto !important; @(Sitecore.Context.PageMode.IsExperienceEditorEditing ? " text-align:center;" : "" )">
                <li data-transition="fade" data-slotamount="8" data-masterspeed="700" data-delay="9400" style="text-align:center;">
                    <xsl:if test="sc:fld('video',.)">
                        @foreach(var vid in Model.Videos)
                        { 

                                <video controls="controls" muted="muted" style="height:720px;" @(Sitecore.Context.PageMode.IsExperienceEditorEditing ? "" : "autoplay=\"autoplay\"" )>
                                    <source src="@Sitecore.Resources.Media.MediaManager.GetMediaUrl(vid)" type="video/mp4" />
                                    <p>Your browser does not support the <code>video</code> element.</p>
                                </video>

                        }
                    </xsl:if>
                </li>
            </ul>
        </div>
    </div>
</div>