/* here you can put your own css to customize and override the theme */


form   .page-header {margin-top:0px}

form[class*="metronic"]  .btn {
	color: #fff;
	display: inline-block;
	padding: 6px 12px;
	margin-bottom: 0;
	font-size: 14px;
	font-weight: 400;
	line-height: 1.42857143;
	text-align: center;
	white-space: nowrap;
	vertical-align: middle;
	-ms-touch-action: manipulation;
	touch-action: manipulation;
	cursor: pointer;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	background-image: none;
	border: 1px solid transparent;
	border-radius: 4px;
	background: #e94d1c;
	border-width: 0;
	padding: 7px 14px;
	font-size: 14px;
	float:right;
}
form[class*="metronic"]  .btn:hover, .form[class*="metronic"]  .btn:focus, .form[class*="metronic"]  .btn:active, .form[class*="metronic"]  .btn.focus {
text-decoration: none;
background: #cc3304;
}

.bannertext h1 
{
    font: 300 31px/31px "Open Sans", sans-serif !important;
    text-shadow:none !important;
}

.bannertextContainer  p a{
    font-size:17pt  !important;
}
.carousel-indicators
{
    left:50% !important;
    -webkit-transform: translate(-50%, -50%); transform: translate(-50%, -50%);
}

 .backgroudBox 
{
    padding-left:30px; padding-right:30px;
    padding-top:15px; padding-bottom: 15px;
    background-color: rgba(4, 4, 4, 0.53)
}

.bannertextContainerLeft {
    left: 80px; top: 220px;
}

 .bannertextContainerRight {
    left: 1079px; top: 220px;
}

 .bannertextContainerTop {
         left: 50%; top: 5px; text-align:center;
             -webkit-transform: translate(-50%, -50%); transform: translate(-50%, -50%);
}

.bannertextContainerBottom {
    left: 50%; top: 385px; text-align:center;
    -webkit-transform: translate(-50%, -50%); transform: translate(-50%, -50%);
}