﻿@model Sitecore.Mvc.Presentation.RenderingModel

<div class="row margin-bottom-40">
    <!-- BEGIN CONTENT -->
    <div class="col-md-12">
       <div class="content-page">
            @Html.Sitecore().Placeholder("onecontent")
        </div>
    </div>
    <!-- END CONTENT -->
</div>