﻿@model Sitecore.Mvc.Presentation.RenderingModel

@Html.Sitecore().Rendering("{2D92922E-4220-45BB-BB35-EA95278D5883}")
<div class="row margin-bottom-40">
    <!-- BEGIN CONTENT -->
    <div class="col-md-12 col-sm-12">

        <div class="content-page">
            <div class="row">
                <!-- BEGIN CENTRE -->
                <div class="col-md-9 col-sm-9">
                    @Html.Sitecore().Placeholder("content")
                </div>
                <!-- END CENTRE -->
                <!-- BEGIN RIGHT SIDEBAR -->
                <div class="col-md-3 col-sm-3">
                    @Html.Sitecore().Placeholder("rightcontent")
                </div>
                <!-- END RIGHT SIDEBAR -->

            </div>
        </div>
    </div>
    <!-- END CONTENT -->
</div>
