﻿@model Sitecore.Mvc.Presentation.RenderingModel
<div class="row margin-bottom-40">
    <!-- BEGIN CONTENT -->
    <div class="col-md-12 col-sm-12">
       <div class="content-page">
            <div class="row">
                <!-- BEGIN LEFT SIDEBAR -->
                <div class="col-md-8 col-sm-8 blog-posts">
                    @Html.Sitecore().Placeholder("content")
                </div>
                <!-- END LEFT SIDEBAR -->
                <!-- BEGIN RIGHT SIDEBAR -->
                <div class="col-md-4 col-sm-4 blog-sidebar">
                    @Html.Sitecore().Placeholder("rightcontent")
                </div>
                <!-- END RIGHT SIDEBAR -->
            </div>
        </div>
    </div>
    <!-- END CONTENT -->
</div>