﻿@using Sitecore.Mvc.Analytics.Extensions
@{
    Layout = "MvcOuterLayout.cshtml";
}
<!DOCTYPE html>
<!--
Template Name: Metronic - Responsive Admin Dashboard Template build with Twitter Bootstrap 3.2.0
Version: 3.4
Author: KeenThemes
Website: http://www.keenthemes.com/
Contact: support@keenthemes.com
Follow: www.twitter.com/keenthemes
Like: www.facebook.com/keenthemes
Purchase: http://themeforest.net/item/metronic-responsive-admin-dashboard-template/4021469?ref=keenthemes
License: You must have a valid license purchased only from themeforest (the above link) in order to legally use the theme for your project.
-->
<!--[if IE 8]> <html lang="en" class="ie8 no-js"> <![endif]-->
<!--[if IE 9]> <html lang="en" class="ie9 no-js"> <![endif]-->
<!--[if !IE]><!-->
<html lang="en">
<!--<![endif]-->
<!-- Head BEGIN -->
<head>
    <meta charset="utf-8">
    <title>@Html.Sitecore().Controller("Meta", "PageTitle")</title>

    @Html.Sitecore().Controller("Meta", "MetaTags")

    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

    <link rel="shortcut icon" href="/sitecore/images/favicon.ico">

    <!-- Fonts START -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700|PT+Sans+Narrow|Source+Sans+Pro:200,300,400,600,700,900&amp;subset=all" rel="stylesheet" type="text/css">
    <!-- Fonts END -->
    <!-- Global styles START -->
    <link href="/metronic/global/plugins/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <link href="/metronic/global/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <!-- Global styles END -->
    <!-- Page level plugin styles START -->
    <link href="/metronic/global/plugins/fancybox/source/jquery.fancybox.css" rel="stylesheet">
    <link href="/metronic/global/plugins/carousel-owl-carousel/owl-carousel/owl.carousel.css" rel="stylesheet">
    <link href="/metronic/global/plugins/slider-revolution-slider/rs-plugin/css/settings.css" rel="stylesheet">

    <!-- Page level plugin styles END -->
    <!-- Theme styles START -->
    <link href="/metronic/global/css/components.css" rel="stylesheet">
    <link href="/metronic/global/css/plugins.css" rel="stylesheet">
    <link href="/metronic/frontend/layout/css/style.css" rel="stylesheet">
    <link href="/metronic/frontend/pages/css/portfolio.css" rel="stylesheet">
    <link href="/metronic/frontend/pages/css/style-revolution-slider.css" rel="stylesheet"><!-- metronic revo slider styles -->
    <link href="/metronic/frontend/layout/css/style-responsive.css" rel="stylesheet">

    <link href="/metronic/frontend/layout/css/themes/@Html.Sitecore().Controller("Meta", "CssTheme")" rel="stylesheet" id="style-color" />



    <link href="/metronic/frontend/layout/css/custom.css" rel="stylesheet">
    <!-- Theme styles END -->
    <!-- Officecore styles override START -->
    <link href="/metronic/frontend/layout/css/style-override.css" rel="stylesheet">
    <!-- Officecore styles override  END -->
    <!-- amCharts javascript sources -->
    <script type="text/javascript" src="/amcharts/amcharts.js"></script>
    <script type="text/javascript" src="/amcharts/pie.js"></script>
    <script type="text/javascript" src="/amcharts/serial.js"></script>
    <script type="text/javascript" src="/amcharts/light.js"></script>

    <style>
        @Html.Sitecore().Controller("Header", "InlineCSS")
    </style>

    @Html.Sitecore().VisitorIdentification();
</head>
<!-- Head END -->
<!-- Body BEGIN -->
<body class="corporate">

    <!-- /Rederings/Officecore/MVC/Shared/javascripts-->
    @Html.Sitecore().Rendering("{25284A88-6F51-4A59-87EB-28C494531E5C}")

    <!-- /Rederings/Officecore/MVC/Shared/profiles-->
    @Html.Sitecore().Controller("Visit", "VisitDetails")


    <!-- /Rederings/Officecore/MVC/Shared/topbar-->
    @Html.Sitecore().Rendering("{76ECC64D-5BF0-4FEE-883A-767A76E4D90E}")

    <div class="header">
        <div class="container">
            <a href="/" class="site-logo">
                @Html.Sitecore().Field("Site Logo", Officecore.Dev.Configuration.SiteConfiguration.GetPresentationSettingsItem(), new { mh = "55" })
            </a>
            <a href="javascript:void(0);" class="mobi-toggler"><i class="fa fa-bars"></i></a>

            <!-- BEGIN NAVIGATION -->
            <div class="header-navigation pull-right font-transform-inherit">
                <ul>
                    <!-- /Rederings/Officecore/MVC/navigation/header -->
                    @Html.Sitecore().Rendering("{CBA69D26-47CF-4A35-8E4E-C7787993B58F}")

                </ul>
            </div>
            <!-- END NAVIGATION -->
        </div>
    </div>

    @Html.Sitecore().Placeholder("header")

    <!-- SC_SLIDER -->
    @Html.Sitecore().Placeholder("slider")

    <!-- SC_BODY -->
    @Html.Sitecore().Placeholder("body")


    <!-- /Rederings/Officecore/MVC/Shared/footer-->
    @Html.Sitecore().Rendering("{CDF2266A-2C12-4BCE-8473-02242C0FA81E}")


    <script src="/assets/js/jquery.signalR-2.1.2.min.js"></script>
    <script src="https://officecore-crm-trigger.azurewebsites.net/signalr/hubs"></script>

    <script>
        /*  Salesforce notification  */

        try {

            //Set the hubs URL for the connection
            jQuery2.connection.hub.url = "https://officecore-crm-trigger.azurewebsites.net/signalr";

            // Declare a proxy to reference the hub.
            var chat = jQuery2.connection.notificationHub;

            // Create a function that the hub can call to broadcast messages.


            chat.client.TaskCompleted = function (id) {
                jQuery('#callback-' + id).hide("slow");

                var res = jQuery2.get('/Contact/Call-Back-Hidden?sc_trk=Call%20back%20received', "", function (data) {
                });

                res.done(function () {
                });
            };


            // Start the connection.
            jQuery2.connection.hub.start().done(function () {

            });

        }
        catch (x) {
          //  alert(x);
        }
    </script>

</body>
<!-- END BODY -->
</html>


