﻿@model Officecore.Dev.Models.SearchResults

@if (!Sitecore.Context.PageMode.IsExperienceEditorEditing)
{
    <div class="col-md-12">
        <div class="row">
            <div class="col-md-3 col-sm-3">
                    <h2>Refine Results</h2>
                    <form action="/Search" method="post" id="filterSearch">
                        @foreach (var facet in Model.Facets)
                        {
                            <h3>@facet.FacetName</h3>
                            <ul class="css-checkboxes">
                            @foreach (var entry in facet.Items)
                            {
                                <li><input type="checkbox" id="@facet.FacetName|@entry.Id" name="facets" value="@facet.FacetName|@entry.Id" checked="@entry.Selected" onchange="javascript:document.getElementById('filterSearch').submit()" /><label for="@facet.FacetName|@entry.Id">@entry.Name</label></li>
                            }
                        </ul>
                        }
                        <input type="hidden" value="@Model.SearchString" id="searchStr" name="searchStr" />
                    </form>
            </div>
            <div class="col-md-9 col-sm-9">
                <h1>Search Results For: @Model.SearchString</h1>

                @foreach (var item in Model.Results)
                {
                    <div>
                        
                        @if (item.Item.Fields["JobTitle"] == null)
                        {
                            <h3><a href="@item.Url">@Html.Sitecore().Field("Title", item.Item)</a></h3>
                        }
                        else
                        {
                            <h3><a href="@item.Url">@Html.Sitecore().Field("JobTitle", item.Item)</a></h3>
                        }

                        <p>@item.SearchDescription</p>
                    </div>

                    if (!Model.Results.IsLast(item))
                    { <div class="text-divider3"></div> }
                }


            </div>
        </div>
    </div>
   
}
else
{
    <div class="col-md-12">
        <div class="row">
            <div class="col-md-3 col-sm-3">
                <h1>Search Results</h1>
            </div>
        </div>
    </div>
}

